<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

    <appender name="LF5_SOCKET" class="org.apache.log4j.net.SocketAppender">
        <param name="RemoteHost" value="localhost"/>
        <param name="Port" value="4455"/>
        <param name="LocationInfo" value="true"/>
        <param name="ReconnectionDelay" value="5000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="
      [slf5s.start]
      %d{DATE}[slf5s.DATE]%n
      %p[slf5s.PRIORITY]%n
      ${server.name}[slf5s.NDC]%n
      %c[slf5s.CATEGORY]%n
      %l[slf5s.LOCATION]%n
      %m[slf5s.MESSAGE]%n%n"
            />
        </layout>
    </appender>

    <root>
        <priority value="debug"/>
        <appender-ref ref="LF5_SOCKET"/>
    </root>

</log4j:configuration>

<Configuration status="DEBUG">

<Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT"/>
    <Socket name="LF5_SOCKET" host="localhost" port="4455" protocol="TCP" reconnectionDelay="5000"/>
</Appenders>

<Loggers>
    <Root level="trace">
        <AppenderRef ref="STDOUT" level="DEBUG"/>
        <AppenderRef ref="LF5_SOCKET" level="DEBUG"/>
    </Root>
</Loggers>

</Configuration>